
root = true


[*]
end_of_line = lf
charset = utf-8

[*.{md,js}]
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80
indent_style = space
indent_size = 4

[Data/Font/*.txt]
trim_trailing_whitespace = true
insert_final_newline = false